.recipe-info{
    display: flex;
    align-items: center;
    margin: 0px 40px;
    margin-top:10px;
    background-color: rgb(229, 229, 224);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    min-width:1000px;
    max-height:500px;
    color:rgb(141, 140, 138);
}
.recipe-info img{
    min-width: 500px;
}
.details h1{
    font-size: 55px;
    color:rgb(102, 102, 102);
}
.details{
    margin-left:40px;
}
.details button{
    border:none;
    margin:10px;
    padding:1px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    border-radius:5px;
}
.details button:hover {
    background-color: rgba(248, 246, 246, 0.8);
}
.list-details{
    display:flex;
    margin: 0px 40px;
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.5);
    min-width:1000px;
    background-color: rgb(248, 248, 242);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(112, 112, 111);
}
.ingredients{
    min-width:500px;
    max-width:500px;
    background-color: rgb(237, 237, 232);
    padding-left: 20px;
}
.ingredients h3{
    font-size: 30px;
}
.instructions{
    background-color: rgb(248, 248, 242);
    padding-left: 20px;

}
.instructions h3{
    font-size:30px;
}
.steps{
    font-size:20px;
    margin:40px;
}